---
name: Terraform
on:
  workflow_dispatch:
  push:
    branches:
      - 'feature/**'
      - 'feat/**'
      - 'fix/**'
      - 'renovate/**'
  pull_request:
    types: [opened, reopened]

jobs:
  validate-terraform:
    # if: github.event.ref == 'refs/heads/main'
    name: Valdiate
    uses: stuttgart-things/github-workflow-templates/.github/workflows/call-validate-terraform.yaml@main
    with:
      environment-name: k8s
      runs-on: ghr-vault-base-setup-in-cluster
      terraform-version: 1.10.5
      tflint-version: v0.55.1
      continue-error: false
